@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/_Layout.cshtml";
}
@section head {
    <link href="~/Styles/error-page.css" rel="stylesheet" type="text/css" />
}
<div class="container">
    <div class="stage" style="width: 200px; height: 200px;">
        <div class="cubespinner">
            <div class="face1">4</div>
            <div class="face2">4</div>
            <div class="face3">4</div>
            <div class="face4">4</div>
            <div class="face5">4</div>
            <div class="face6">4</div>
        </div>
    </div>

    <div class="stage" style="width: 200px; height: 200px;">
        <div class="cubespinner">
            <div class="face1">0</div>
            <div class="face2">0</div>
            <div class="face3">0</div>
            <div class="face4">0</div>
            <div class="face5">0</div>
            <div class="face6">0</div>
        </div>
    </div>

    <div class="stage" style="width: 200px; height: 200px;">
        <div class="cubespinner">
            <div class="face1">4</div>
            <div class="face2">4</div>
            <div class="face3">4</div>
            <div class="face4">4</div>
            <div class="face5">4</div>
            <div class="face6">4</div>
        </div>
    </div>
</div>