@model Web_gellary.Models.ViewModel

@{
    ViewBag.Title = "History";
    Layout = "~/Views/_Layout.cshtml";
}

@section head {
    <script src="~/Scripts/history.js"></script>
    <link href="~/Styles/history-view-image.css" rel="stylesheet" type="text/css" />
}

<div class="block-history">

</div>