@model Web_gellary.Models.ViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_Layout.cshtml";
    <link href="~/Styles/profile-user.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/view-image.css" rel="stylesheet" type="text/css" />
}

@section head {
    <script src="~/Scripts/gallery-user.js"></script>
}

<div class="user-information">
    <div>
        <img class="avatar-user" src="@Model.User.Avatar" />
        @Model.User.Nick
    </div>
    @if (Model.User.UserURL == User.Identity.Name)
    {
        <div>
            <a href="" class="">Editing profile</a>
            <a href="/Image/UploadImage" class="">Upload image</a>
        </div>
    }
    <hr/>
</div>
<div class="user-gallery">
    
</div>

<div class="block-view-image">
    <img id="view-image" src="" alt="Not image" />
</div>