@model Web_gellary.Models.ViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_Layout.cshtml";
}

@section head {
    <script src="~/Scripts/gallery-user.js"></script>
    <link href="~/Styles/profile-user.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/gallery.css" rel="stylesheet" type="text/css" />
    @if (Model.User.UserURL == User.Identity.Name)
    {
        <script src="~/Scripts/redact-status.js"></script>
    }
}

<div class="user-information">
    <div class="information">
        <div class="profile">
            <img class="avatar-user" src="@Model.User.Avatar" />
            <div>
                <div class="nick">
                    @Model.User.Nick
                </div>
                <div class="state">
                    @Model.User.State
                    @if (Model.User.State.Equals("online"))
                    {
                        <i class="fa fa-circle online"></i>}
                    else
                    {
                        <i class="fa fa-circle offline "></i>
                    }
                </div>
                <div class="status">
                    <div>
                        @if (Model.User.Status == "" || Model.User.Status == null)
                        {
                            <span class="user-status">"Click to change your status"</span>
                        }
                        else
                        {
                            <span class="user-status">@Model.User.Status</span>
                        }
                    </div>
                    @if (Model.User.UserURL == User.Identity.Name)
                    {
                        <input type="text" class="enter-status" hidden />
                    }
                </div>
            </div>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated && Model.User.UserURL == User.Identity.Name)
    {
        <div class="information">
            <a href="/Edit/Edit" class="">Editing profile</a>
            <a href="/Image/UploadImage" class="">Upload image</a>
        </div>
    }
</div>
<hr />
<div class="block-gallery">
    
</div>

<div class="panel-view-img">
    <div class="block-view-image">
        <div class="header-block">
            <div class="block-view">
                <div class="prev-image">&lt;</div>
                <div class="image">
                    <img id="select-image" />
                </div>
                <div class="next-image">&gt;</div>
            </div>
            <div class="footer-block">
                <span>Image:<span class="digits"></span>of<span class="count-images"></span></span>
                @if (User.Identity.Name == Model.User.UserURL || User.IsInRole("Moderator"))
                {
                    <span class="delete"><i class="fa fa-trash-o"></i>Delete</span>
                }
            </div>
        </div>
        <div class="information-image">
            <div class="information-athor">
                <a class="img-author" href="">
                    <img />
                </a>
                <div>
                    <div class="name-author"><a href=""><span></span></a></div>
                    <div class="data"></div>
                </div>
            </div>
            <div class="view-and-like">
                @if (User.Identity.IsAuthenticated)
                {
                    <span class="like"><i class="fa fa-heart"></i><span></span></span>
                }
                <span class="view"><i class="fa fa-eye"></i><span></span></span>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="comments">

                </div>
                <div class="field-for-comment">
                    <textarea class="your-comment" placeholder="Enter your comment..."></textarea>
                </div>
            }
            else
            {
                <div class="message-user">
                    <div class="img-lock">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div>
                        To view comments you must be an authorized user.
                    </div>
                </div>
            }
        </div>

    </div>
</div>