@model Web_gellary.Models.Users

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="menu">
    <ul id="link-menu">
        <li><a href=""><i class="fa fa-user"></i>Profile</a></li>
        <li><a href=""><i class="fa fa-users"></i>Users</a></li>
        <li><a href=""><i class="fa fa-history"></i>History</a></li>
        @if (Model.Role == "User")
        {
            <li><a href=""><i class="fa fa-bell-o"></i>Answers</a></li>
        }
        else
        {
            <li><a href=""><i class="fa fa-comment-o"></i>Query</a></li>
        }
        <li><a href="/Account/Logout"><i class="fa fa-sign-out"></i>Logout</a></li>
    </ul>
</div>
<div id="content">
    <div class="user-information">
        @if (Model.UserURL == User.Identity.Name)
        {
            @Model.Email
            @Model.Nick
        }
    </div>
    <div class="user-gallery">
        @Model.UserURL
    </div>
</div>