@model Web_gellary.Models.ViewModel

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/_Layout.cshtml";
}

@section head {
    <script src="~/Scripts/users-view.js"></script>
    <link href="~/Styles/users-list-style.css" rel="stylesheet" type="text/css" />
}

<div class="list-users">
    
</div>
<div class="filter">
    <div>Sorting</div>
    <div>
        <label>Nick<input type="text" class="nick-filter"/></label>
    </div>
    <div>
        <label><input type="checkbox" class="online-filter"/> Now online</label>
    </div>
    <div>
        <label><input type="checkbox" class="avatar-filter"/> With avatar</label>
    </div>
    <div>
        <label><input type="checkbox" class="popular-filter"/> The popular</label>
    </div>
</div>