.block-image>img {
    max-height: 100%;
    max-width: 240px;
    display: block;
    margin: 0 auto;
}

.block-image {
    padding-top: 50px;
    display: inline-block;
    width: 260px; 
    height: 200px;
    margin: 0 15px 15px 0; 
    padding: 10px 0; 
    border: 1px solid #44678f;
    cursor: pointer;
}

.block-history {
    margin: 0 auto;
}

.hide-scroll {
    overflow:  hidden;
}

.panel-view-img {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0; 
    right: 0; 
}

.display-block {
    display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.block-view-image {
    display: flex;
}

.prev-image, .next-image {
    top: 250px;
	text-align: center;
    font-family: Arial;
	position: absolute;
    font-weight: 500;
	width:50px;
	height:50px;
	font-size: 45px;
	opacity: 0.05;
	color: #feffff;
	cursor: pointer;
}

.prev-image {
	border-radius: 5px 0 0 5px;
}

.prev-image:hover, .next-image:hover {
	opacity: 0.7;
}

.next-image {
	border-radius: 0 5px 5px 0;
	right: 0;
}

#image {
   cursor: pointer;
}

.header-block {
    
}

.img-author, .name-author {
    text-decoration: none;
}

.img-author {
    padding: 5px 10px;
}

.information-athor>div {
    padding-left: 5px;
}

.img-author>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.name-author, .data {
    text-align: left;
    font-family: Arial;
    padding: 5px;
}

.name-author>a {
    text-decoration: none;
    color: #44678f;
}

.name-author {
    color: #44678f;
    cursor: pointer;
    font-size: 14px;
}

.name-author:hover, .right a:hover {
    text-decoration: underline;
}

.data {
    color: #808080;
    font-size: 13px;
}

.footer-block {
    text-align: left;
    background-color: #3a3a3b;
	width:700px;
	height:25px;
}

.footer-block>span {
    margin-left: 20px;
    font-family: Arial;
    font-size: 14px;
    color: #f8f9fd;
}

.footer-block>span>span {
    margin-left: 5px;
    margin-right: 5px;
}

.block-view {
    width: 700px;
	height: 550px;
	position: relative;
	background-color: #3a3a3b;
}

.image {
    width: 700px;
	height: 550px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#select-image {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.information-image {
    background-color: #fafbfc;
	width:250px;
	height:575px;
}

.information-athor, .view-and-like, .comments {
    border-bottom: 1px solid #eceded;
}

.information-athor {
    display: flex;
    background-color:#fff;
	width:250px;
	height:50px;
    text-align: left;
}

.view-and-like {
    height: 15px;
    text-align: left;
}

.like, .view {
    font-family: Arial;
    font-size: 13px;
    color: #505152;
    margin-left: 20px;
}

.view {
    float: right;
    margin-right: 20px;
}

.like {
    float: left;
    margin-left: 20px;
    cursor: pointer;
}

.like>span, .view>span {
    padding-left: 7px;
}

.like:hover {
    color: #44678f;
}

.comments {
    width: 250px;
	height: 455px;
	overflow-y: auto;
}

.comment {
    display: flex;
    text-align: left;
    font-family: Arial;
    font-size: 12px;
    color: #505152;
    border-bottom: 1px solid #939393;
    min-height: 50px;
    width: 100%;
    padding-bottom: 1px;
}

.comment a {
    text-decoration: none;
}

.right {
    padding-top: 2px;
    width: calc(100% - 55px);
}

.right a {
    text-decoration: none;
    color: #44678f;
    padding-bottom: 7px;
}

.message {
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px 5px 2px 5px;
    float: left;
}

.text-comment {
    padding: 3px;
}

.comment span {
    color: #44678f;
    float: right;
    margin-right: 5px;
}

.field-for-comment {
    width:250px;
}

textarea {
	resize: none;
    height: 52px;
    width: 250px;
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    font-family: Arial;
}

.message-user {
    height: 483px;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.message-user>div {
    font-size: 13px;
    font-family: Arial;
    color: #505152;
}

.img-lock>i {
    font-size: 30px;
    color: #505152;
}

.digits, .count-images {
}