.image {
    max-height: 100%;
    max-width: 240px;
    min-height: 100%;
}

.block-image {
    display: inline-block;
    clear:both;
    width: 260px; 
    height: 200px;
    margin: 0 15px 15px 0; 
    padding: 10px 0; 
    border: 1px solid #44678f;
    cursor: pointer;
}

.block-history {
    margin: 0 auto;
}