.user-information {
    margin-top: 50px;
}

.user-gallery {
    margin-top: 10px;
}

.avatar-user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left; 
    margin: 7px 7px 7px 0
}

.user-information>div>a {
    text-decoration: none;
    color: #44678f;
    font-family: Arial;
    font-size: 15px;
}

.user-information>div>a:hover {
    text-decoration: underline;
}

.user-information>div {
    display: inline-block;
    width: 40%;
    height: 220px;
}



.image-to-width {
    width: 250px;
    height: 100%;
}

.image-to-height {
    height: 200px;
    width: 100%;
}

.block-image {
    display: inline-block;
    width: 270px; 
    height: 210px;
    margin: 0 15px 15px 0; 
    padding: 10px 0; 
    text-align: center; 
    border: 1px solid #44678f;
    cursor: pointer;
}