.vertical-image {
    width: 450px;
}

.horizontal-image {
    height: 330px;
}

#file {
    display : none;
}

#lable-file {
    background-color: #44678f;
    color: #feffff;
    padding : 10px 20px;
    max-height: 37px;
    max-width: 155px;
    cursor : pointer;
}

#lable-file>i {
    padding-right: 5px;
}

.form-upload-image {
    position: relative;
    display: inline-block;
    color: #44678f;
    font-family: Arial;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
    border: 1px solid #44678f;
    height: 470px;
    width: 700px;
}

.left-div {
    position: absolute;
    height: 350px;
    width: 200px;
    left:10px;
    top: 30px;
}

.right-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 350px;
    width: 470px;
    right:10px;
    top: 60px;
}

.field-choose-file {
    margin-top: 50%;
    height: 100px;
    width: 100%;
}

.field-submit {
    
}

.field-message {
    padding-top: 30px;
}

#upload {
    width: 130px;
    height: 25px;
    color: #feffff;
    padding-left: 20px;
    padding-right: 20px;
    outline: 0 !important;
    border: none;
}

.no-choose-file {
    opacity: 0.7;
}

.choose-file {
    opacity: 1;
}

.no-active-submit {
     background-color: #a3a3a3;
}

.active-submit {
    background-color: #44678f;
    cursor: pointer;
}