#content  {
    display: flex;
}

.list-users {
    display: flex;
    width: 460px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.user {
    margin-left: 30px;
    margin-top: 5px;
    text-align: left;
    height: 100px;
    width: 430px;
    border-bottom: 0.5px solid #8d8d8d;
}

.avatar-user {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left; 
    margin: 10px;
}

.information>div {
    padding: 7px;
}

.information a {
    text-decoration: none;
    color: #44678f;
    font-family: Arial;
    font-size: 16px;
}

.information a:hover {
    text-decoration: underline;
}

.status {
    color: #8d8d8d;
    font-family: Arial;
    font-size: 12px;
}

.block-filter {
    height: 350px;
    width: 230px;
    margin: 20px 0 0 40px; 
}

.upload-info {
    font-family: Arial;
    font-size: 13px;
    padding-bottom: 3px;
}

.status>i {
    padding-left: 4px;
}

.online {
    color: #009d00;
}

.offline {
    color: #8d8d8d;
}

.search, .order, .filter {
    width: 240px;
    font-family: Arial;
    font-size: 15.5px;
    color: #44678f;
    text-align: left;
    margin: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #252525;
}

label, input {
    font-family: Arial;
    font-size: 14px;
    margin: 7px;
}

label {
    color: #44678f;
}

input {
    border-radius: 2px;
    outline: none;
    color: #252525;
    border: 1px solid #252525;
}

input:focus {
    border: 1px solid #44678f;
}