@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="menu">
    <ul id="link-menu">
        <li><a href=""><i class="fa fa-sign-in"></i>Login</a></li>
        <li><a href=""><i class="fa fa-users"></i>Users</a></li>
        <li><a href=""><i class="fa fa-history"></i>History</a></li>
    </ul>
</div>
<div id="content">

</div>
