@{
    ViewBag.Title = "Answers";
    Layout = "~/Views/_Layout.cshtml";
    <link href="~/Styles/answers-image-user.css" rel="stylesheet" type="text/css" />
}

@section head {
    <script src="~/Scripts/answers.js"></script>
}

<h4>@Resources.Resource.HeaderAnswersPage</h4>
<hr />
<div class="block-answers">

</div>