@model Web_gellary.Models.ViewModel

@{
    ViewBag.Title = "Upload Image";
    Layout = "~/Views/_Layout.cshtml";
}

@section head {
    <script src="~/Scripts/upload-image.js"></script>
    <link href="~/Styles/upload-image-form.css" rel="stylesheet" type="text/css" />
}


<div class="form-upload-image">
    <h4>Upload Image</h4>
    <hr />
    <div class="left-div">
        <div class="field-choose-file">
            <label id="lable-file"><input type="file" name="file" id="file" multiple accept="image/*" /><i class="fa fa-file-image-o"></i>Choose image</label>
        </div>
        <div class="field-submit">
            <input type="submit" id="upload" value="Upload" disabled />
        </div>
        <div class="field-message">
            <span id="message"></span>
        </div>
    </div>
    <div class="right-div">
        <img id="preview" />
    </div>
</div>